.info_main_box{
    border: 2px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    padding: 10px;
}
.info_main_box_con{
    float: left;
    text-align: center;
    padding: 0 32px;
    margin-top: 12px;
}
.info_delivery_box{
    border: 2px solid rgb(231, 231, 231);
    background-color: white;
    height: 200px;
    padding: 10px;
    text-align: center;
}
.info_delivery_box_con{
    float: left;
    margin: 10px;
    padding-left: 20px;
}
.delivery_icon{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.info_line{
    width: 100%;
}
.info_menu{
    width: 180px;
    height: 700px;
    margin: 10px;
}
.info_boxs{
    width: 500px;
    height: 400px;
    background-color: rgb(206, 206, 206);
    margin: 0 auto;
    padding: 30px;
}
.info_box{
    background-color: rgb(240, 240, 240);
    padding: 40px;
    width: 200px;
    height: 300px;
    margin: 0 10px;
    float:left;
    text-align: center;
}
.profile_box{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    overflow: hidden;
    margin: 10px;
}
.cnt_num_box{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    overflow: hidden;
    margin: 10px;
    background-color: rgb(230, 230, 230);
    line-height: 80px;
    font-size: x-large;
    font-weight: bold;
}
.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info_button{
    margin: 10px;
}
span{
    color: black;
}
ul{
    list-style: none;
    font-weight: bold;
}
.in_li{
    padding-left: 10px;
    font-size: medium;
    font-weight: normal;
}
.delivery_list{
    display:flex;
    width: 100%;
    margin: 10px auto;
}
.delivery_list_col{
    flex: 1;
    margin: 0px 5%;
}
.mypage_zone_tit {
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
}
.mypage_zone_tit h3 {
    display: inline-block;
    font-size: 16px;
}
.mypage_zone_tit h4 {
    font-size: 16px;
}
.mypage_zone_tit span {
    padding: 0 0 0 5px;
    color: #777777;
    font-size: 12px;
    font-weight: normal;
}
.mypage_shipping .mypage_zone_tit h3 {
    display: inline-block;
}
.mypage_shipping .mypage_zone_tit .pick_list_num {
    display: inline-block;
}
#mypage .step {
    position: relative;
}
#mypage .step ul li {
    width: 16.6%;
}
.mypage_lately_goods {
    margin: 50px 0 0;
}
.mypage_lately_goods .mypage_zone_tit {
    margin: 0 0 20px;
    border-bottom: 1px solid #999999;
}
.mypage_lately_goods .goods_list_cont ul li {
    margin-top: 10px;
}
.my_page_password .mypage_zone_tit {
    margin: 0 0 50px;
    padding: 0 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #999999;
}
.my_page .mypage_zone_tit {
    margin: 0 0 50px;
    padding: 0 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #3c3c3c;
}
.hack_out .mypage_zone_tit {
    margin: 0 0 50px;
    padding: 0 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #999999;
}
.hack_out .mypage_unregister .mypage_zone_tit {
    margin: 0;
    padding: 0 0 10px;
    font-size: 14px;
    border-bottom: none 0;
}
dl,
li,
ol,
ul {
    list-style: none;
}
#cnt .cntbody {
    position: relative;
    min-height: 745px;
    padding-left: 220px;
}
#mypage .step ul li.ready1 a {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/mypage/icon_step_ready1.png");
    background-position: center top 1px;
}
#mypage .step .step-info {
    position: absolute;
    right: 51px;
    top: 54px;
    color: #808080;
}
#mypage .img-box {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}
#mypage .img-box .list-img {
    width: 77px;
}
/* #mypage .img-box .list-img.no{opacity: 0.2;} */
#mypage .img-box .x-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_before_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
#mypage .img-box .y-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_after_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
.spanTd span {
    margin-top: 5px;
}
.spanTd span:first-child {
    margin-top: 0;
}
.spanTd .box_btn {
    width: 100%;
    display: block;
}
.spanTd .box_btn a {
    width: 100%;
}

.date_btn {
    float: left;
    margin-right: 10px;
}
.date_btn li {
    display: inline-block;
}
.date_btn li .btn {
    width: 60px;
    height: 40px;
    margin-right: -4px;
    padding: 0;
    border: 0;
    border: 1px solid #c3c3c3;
    background: #fff;
    color: #666;
    font-size: 15px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.date_btn li.active .btn {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.bottomatarea {
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff !important;
    padding: 0 3px 3px;
    font-size: 11px !important;
    opacity: 0.7;
    text-align: center;
}
#order .area_right .btn {
    margin-top: 20px;
}
#order .area_right .btn .box_btn {
    margin-bottom: 10px;
}
#mypage .step {
    position: relative;
}
#mypage .step ul li {
    width: 16.6%;
}
#cnt .cntbody {
    position: relative;
    min-height: 745px;
    padding-left: 220px;
}
#mypage .step ul li.ready1 a {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/mypage/icon_step_ready1.png");
    background-position: center top 1px;
}
#mypage .step .step-info {
    position: absolute;
    right: 51px;
    top: 54px;
    color: #808080;
}
#mypage .img-box {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}
#mypage .img-box .list-img {
    width: 77px;
}
/* #mypage .img-box .list-img.no{opacity: 0.2;} */
#mypage .img-box .x-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_before_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
#mypage .img-box .y-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_after_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
.spanTd span {
    margin-top: 5px;
}
.spanTd span:first-child {
    margin-top: 0;
}
.spanTd .box_btn {
    width: 100%;
    display: block;
}
.spanTd .box_btn a {
    width: 100%;
}

.date_btn {
    float: left;
    margin-right: 10px;
}
.date_btn li {
    display: inline-block;
}
.date_btn li .btn {
    width: 60px;
    height: 40px;
    margin-right: -4px;
    padding: 0;
    border: 0;
    border: 1px solid #c3c3c3;
    background: #fff;
    color: #666;
    font-size: 15px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.date_btn li.active .btn {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.bottomatarea {
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff !important;
    padding: 0 3px 3px;
    font-size: 11px !important;
    opacity: 0.7;
    text-align: center;
}
#order .area_right .btn {
    margin-top: 20px;
}
#order .area_right .btn .box_btn {
    margin-bottom: 10px;
}
.info_delivery_box{
    border: 2px solid rgb(231, 231, 231);
    background-color: white;
    height: 200px;
    padding: 10px;
    text-align: center;
}
.info_delivery_box_con{
    float: left;
    margin: 10px;
    padding-left: 20px;
}
.delivery_icon{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.delivery_list{
    display:flex;
    width: 100%;
    margin: 10px auto;
}
.delivery_list_col{
    flex: 1;
    margin: 0px 5%;
}
#mypage .step {
    position: relative;
}
#mypage .step ul li {
    width: 16.6%;
}
#cnt .cntbody {
    position: relative;
    min-height: 745px;
    padding-left: 220px;
}
#mypage .step ul li.ready1 a {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/mypage/icon_step_ready1.png");
    background-position: center top 1px;
}
#mypage .step .step-info {
    position: absolute;
    right: 51px;
    top: 54px;
    color: #808080;
}
#mypage .img-box {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}
#mypage .img-box .list-img {
    width: 77px;
}
/* #mypage .img-box .list-img.no{opacity: 0.2;} */
#mypage .img-box .x-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_before_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
#mypage .img-box .y-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_after_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
.spanTd span {
    margin-top: 5px;
}
.spanTd span:first-child {
    margin-top: 0;
}
.spanTd .box_btn {
    width: 100%;
    display: block;
}
.spanTd .box_btn a {
    width: 100%;
}

.date_btn {
    float: left;
    margin-right: 10px;
}
.date_btn li {
    display: inline-block;
}
.date_btn li .btn {
    width: 60px;
    height: 40px;
    margin-right: -4px;
    padding: 0;
    border: 0;
    border: 1px solid #c3c3c3;
    background: #fff;
    color: #666;
    font-size: 15px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.date_btn li.active .btn {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.bottomatarea {
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff !important;
    padding: 0 3px 3px;
    font-size: 11px !important;
    opacity: 0.7;
    text-align: center;
}
#order .area_right .btn {
    margin-top: 20px;
}
#order .area_right .btn .box_btn {
    margin-bottom: 10px;
}
#mypage .step {
    position: relative;
}
#mypage .step ul li {
    width: 16.6%;
}
#cnt .cntbody {
    position: relative;
    min-height: 745px;
    padding-left: 220px;
}
#mypage .step ul li.ready1 a {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/mypage/icon_step_ready1.png");
    background-position: center top 1px;
}
#mypage .step .step-info {
    position: absolute;
    right: 51px;
    top: 54px;
    color: #808080;
}
#mypage .img-box {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}
#mypage .img-box .list-img {
    width: 77px;
}
/* #mypage .img-box .list-img.no{opacity: 0.2;} */
#mypage .img-box .x-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_before_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
#mypage .img-box .y-icon {
    background-image: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/etc/icon_after_stock1.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}
.spanTd span {
    margin-top: 5px;
}
.spanTd span:first-child {
    margin-top: 0;
}
.spanTd .box_btn {
    width: 100%;
    display: block;
}
.spanTd .box_btn a {
    width: 100%;
}

.date_btn {
    float: left;
    margin-right: 10px;
}
.date_btn li {
    display: inline-block;
}
.date_btn li .btn {
    width: 60px;
    height: 40px;
    margin-right: -4px;
    padding: 0;
    border: 0;
    border: 1px solid #c3c3c3;
    background: #fff;
    color: #666;
    font-size: 15px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
}
.date_btn li.active .btn {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.bottomatarea {
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff !important;
    padding: 0 3px 3px;
    font-size: 11px !important;
    opacity: 0.7;
    text-align: center;
}
#order .area_right .btn {
    margin-top: 20px;
}
#order .area_right .btn .box_btn {
    margin-bottom: 10px;
}
.info_main_box{
    border: 2px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    padding: 30px;
}
.info_main_box_con{
    float: left;
    text-align: center;
    padding: 0 32px;
    margin-top: 12px;
}
.info_delivery_box{
    border: 2px solid rgb(231, 231, 231);
    background-color: white;
    width: 100%;
    height: 250px;
    padding: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.info_delivery_box_con{
    float: left;
    margin: 10px;
    padding-left: 20px;
}
.delivery_icon{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.info_line{
    float: left;
}
.info_menu{
    width: 180px;
    height: 800px;
    margin: 20px;
}
.info_boxs{
    width: 500px;
    height: 400px;
    background-color: rgb(206, 206, 206);
    margin: 0 auto;
    padding: 30px;
}
.info_box{
    background-color: rgb(240, 240, 240);
    padding: 40px;
    width: 200px;
    height: 300px;
    margin: 0 10px;
    float:left;
    text-align: center;
}
.profile_box{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    overflow: hidden;
    margin: 10px;
}
.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info_button{
    margin: 10px;
}
span{
    color: black;
}
ul{
    list-style: none;
    font-weight: bold;
}
.in_li{
    padding-left: 10px;
    font-size: medium;
    font-weight: normal;
}